.grid {
	display: flex;
	width: 400px;
	height: 400px;
	border: solid black 1px;
	position: fixed;
	float: none;
	flex-wrap: wrap;
}
.centered{
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#start{
	background-color: white;
	border: solid gold;
	color: black;
	width: 200px;
	height: 40px;
	font-weight: bolder;
	display:block
}
#btnStop {
	background-color: white;
	border: solid #1bafdb 2px;
	color: #1bafdb;
	width: 200px;
	height: 40px;
	font-weight: bolder;
	display:block
}
.canSee{
	display:none
}

#btnRestart{
	background-color: #1bafdb;
	border: solid #1bafdb 2px;
	color: white;
	width: 200px;
	height: 30px;
	font-weight: bolder;
}

#btnContinue{
	background-color: #1bafdb;
	border:#1bafdb;
	color: white;
	width: 200px;
	height: 30px;
	font-weight: bolder;
}

.results{
	margin-top: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid div {
	width: 20px;
}
.invader {
	background-color: purple;
	border-radius: 20px;
}
.shooter {
	background-color: green;
}
.deadShooter{
	background-color:grey;
}
.laser {
	background-color: orange;
}
.boom {
	background-color: red;
}