
.info{
    color: aliceblue;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

/* .container{
    display: flex;
    gap: 5px;
    margin: 0;
    padding: 10px;
    justify-content: center;
    color: aliceblue;
} */
.parent{
    position: relative;
    border-style: double;
    border-color: aqua;
    margin: auto;
    margin-top: 10px;
    width: 1300px;
    height: 600px;
}

.parent > .BoundaryGrid{
    display: grid;
    /* position: absolute; */
    grid-template-columns: 150px 150px 150px 150px 150px;
    margin-top: 10px;
    padding: 0%;
    gap: 10px;
    height: 200px;
    width: 100px;
    
}


.aliens{
    width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid rgb(255, 0, 0);
    position: relative;
}

.player{
    position: absolute;
    /* border-bottom: 50px solid rgb(0, 26, 255);
	border-left: 25px solid transparent;
	border-right: 25px solid transparent; */
	/* height: 0; */
    /* position: relative; */
	width: 125px;
    bottom: 0;
    /* bottom: -300px; */
    /* margin-left: 30%; */

}
#dragon{
    height: 150px;
    width: 191px;
    background-image: url("/resources/dragon_sprites.png");
}

body{
    background-color: black;
}