
.info{
    color: aliceblue;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.characterSelect{
    position: absolute;
    color: aliceblue;
    width: 1300px;
}

.title{
    display: flex;
    justify-content: center;
}


.division{
    display: flex;
   text-align: center;
    justify-content: center;
    width: 50%;
    height: 600px;
    float: left;
    
    background-color: rgb(77, 70, 70);
}

.centered >img{
    margin-top: 100px;
    width: 500px;
    border-radius: 50%;
    border-style: dotted;
    border-width: 5px;

    border-bottom-color: blue;
    border-left-color: red;
    border-right-color: blue;
    border-top-color: red;
    
}
.centered >img:hover{
    transform: scale(1.2);
}


.parent{
    position: relative;
    border-style: double;
    border-color: aqua;
    margin: auto;
    margin-top: 10px;
    width: 1300px;
    height: 800px;
    background-image: url('/resources/space.jpg');
 
    background-size: cover;
}

.parent > .BoundaryGrid{
    display: grid;
    /* position: absolute; */
    grid-template-columns: 100px 100px 100px 100px 100px;
    margin-top: 10px;
    padding: 0%;
    gap: 10px;
    height: 200px;
    width: 100px;
    opacity: 0;
    
}

.aliens{
    width: 0;
	height: 0;
    opacity: 1;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid rgb(255, 0, 0);
    position: relative;
}

.player{
    position: absolute;
	width: 125px;
    bottom: 0;
    opacity: 0;

}

.bullet {
    height: 30px;
    width: 15px;
    background-color: blue;
    position: absolute;

}

#dragon{
    height: 150px;
    width: 191px;
    background-image: url("/resources/dragon_sprites.png");
}



body{
    background-image: url('/resources/earth.jpg');
    backdrop-filter: blur(10px);
    /* backdrop-filter: grayscale(); */
    background-size: cover;
    

    /* background-color: black; */
}